{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script>
<script src="{% static 'webtweets/js/tutorial/app_tuto.js' %}"></script>
<script src="{% static 'webtweets/js/tutorial/tuto_controller.js' %}"></script>
<script src="{% static 'webtweets/js/tutorial/tuto_factory.js' %}"></script>
<script src="{% static 'webtweets/js/tutorial/tutoFilter.js' %}"></script>