
<div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <header class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="clearfix"><a class="navbar-brand" href="">{% block brandname %}RDF Angular{% endblock brandname %} </a> </div>
            </header>
            <div id='menu' class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id='nav'>
                    <li><a href="">Home</a></li>
                    <li><a href="">Tweets</a></li>
                </ul>
            </div>
            <!-- end navbar links -->
        </div>
        <!-- end container -->
    </nav>
    <!-- end navbar -->
</div>
<!-- end navbar-wrapper -->
<!--<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">DRF ANGULAR</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Tweets</a></li>
            </ul>
        </div>
    </div>
</nav> -->
