<div>
    <h1 class="center-text">Type Head</h1>
    [[a]]
    <a href="" ng-click="search()">Search</a>
    [[data]]
</div>

<!--<div>
    <h1 class="center-text">Type Head</h1>
    <input type="text" ng-model="userEntry" typehead-template-url="searchResults.html" uib-typehead="value for value in search($viewValue)" uib-typehead-wait-ms="500"> [[a]]
    <a href="" ng-click="search()">Search</a> [[data]]
</div>
<script type="text/ng-template" id="searchResults.html">
<div>
name:[[match.model.name]]
</div>
</script>-->