{% load staticfiles %}
<script src="{% static 'js/node_modules/angular/angular.min.js' %}"></script>
<script src='https://code.angularjs.org/1.5.8/angular-resource.min.js'></script>
<script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
{# <script src="{% static 'js/node_modules/angular-route/angular-ui-route.min.js' %}"></script> #}
<script src="{% static 'webtweets/js/udemy/app.js' %}"></script>
<script src="{% static 'webtweets/js/udemy/main_controller.js' %}"></script>
<script src="{% static 'webtweets/js/udemy/mainController.js' %}"></script>
<script src="{% static 'webtweets/js/udemy/spApp.js' %}"></script>
<script src="{% static 'webtweets/js/udemy/spaDirective.js' %}"></script>