<div class="listing-form" ng-if="editListing">
    <h3>Edit Listing</h3>
    <div class="row listing-form-row">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">Address</span>
                <input type="text" placeholder="Enter the address" class="form-control" ng-model="existingListing.address">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">Price</span>
                <input type="text" placeholder="Enter the price" class="form-control" ng-model="existingListing.price">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">Property Type</span>
                <select type="select" name="propertyType" id="propertyType" class="form-control" ng-model="existingListing.type">
                    <option value="House">House</option>
                    <option value="Condo">Condo</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Apartment">Apartment</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row listing-form-row">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">Description</span>
                <textarea type="text" placeholder="Enter the description" class="form-control" ng-model="existingListing.description"></textarea>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Beds</span>
                    <input type="text" placeholder="Bedrooms" class="form-control" ng-model="existingListing.details.bedrooms">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Baths</span>
                    <input type="text" placeholder="Bathrooms" class="form-control" ng-model="existingListing.details.bathrooms">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">SqFt</span>
                    <input type="text" placeholder="Square Footage" class="form-control" ng-model="existingListing.details.area">
                </div>
            </div>
        </div>
        <!--Save button-->
        <button class="btn btn-primary listing-button" ng-click="savePlaceEdit()" ng-show="editListing">Save</button>
        <!--Delete button-->
        <button class="btn btn-danger listing-button" ng-click="deletePlace(existingListing)" ng-show="editListing">Delete</button>
